<%- include('includes/Header.ejs') %> <%- include('components/Navbar.ejs') %>
<main class="place-self-center text-center">
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-18 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Products</h2>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-1 sm:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 xl:gap-x-1 "
      >
      
  
        <div>
          <h3 class="my-8 text-6xl text-gray-700">
            <%= products.productName %>
          </h3>
          <a class="group">
            <div
              class="aspect-h-1 aspect-w-1 w-4/5 overflow-hidden justify-self-center rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
            >
              <img
                src="<%= products.imgUrl %>"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center group-hover:opacity-75"
              />
            </div>
            
            <p class="mt-1 text-lg font-medium text-gray-900">
              $<%= products.price %>
            </p>
          </a>
          <%- include('includes/addToCart.ejs',{products}) %>
        </div>
  
      </div>
    </div>
  </div>
</main>
<%- include('includes/Footer.ejs') %>
